
.container{
    max-width: 720px;
    margin: 20px auto;
    padding: 0 16px;
  
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  
    h1{
      color: var(--white);
      font-family: sans-serif;
    }
  }
  
.orderItemBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #333;
}

.orderDetails {
  margin-left: 10px;
  padding: 10px 15px;
  background: #141421;
  border-radius: 6px;
}

.orderDetails h4 {
  margin: 0 0 8px;
  font-size: 14px;
  color: #3fffa3;
}

.itemLine {
  font-size: 14px;
  color: #ccc;
  margin: 2px 0;
}


  .containerHeader{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 24px;
    gap: 14px;
  
    button{
      background: transparent;
      border:0;
    }
  }
  
  .listOrders{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .emptyItem{
      color: #CCC;;
      font-family: sans-serif;
      font-weight: 600;
    }
  }
  
  .orderItem{
     display: flex;
  flex-direction: column;       
  align-items: flex-start;      
  background-color: var(--dark-900);
  border: 1px solid #c3c6ce;
  font-size: 12px;
  border-radius: 8px;
  color: var(--white);
  transition: all 0.5s;
  padding: 12px;               
  gap: 8px;  
  
    &:hover{
      filter: brightness(1.40);
    }
  
    .orderTitle{
      font-size: 17px;
      font-weight: 550;
    }

    .divider {
  width: 100%;
  height: 1px;
  background: #333;     
  margin: 8px 0;        
}

    .productsPreview{
      width: 100%;             
      text-align: left;      
      display: flex;
      flex-direction: column;  
      gap: 4px;

      strong {
        font-size: 14px;
      }

      p {
        font-size: 13px;
      }

      .total{
        font-weight: 600;
        margin-top: 20px;
      }
    }
    
    
  }
  
  